.navbar {
  margin-bottom: 0;
}

#navbar {
  float: right;
  background-color: $color-white;
  .navbar-nav {
    > li {
      > a {
        height: 90px;
        padding: 0 15px;
        line-height: 90px;
        font-size: 16px;
        font-weight: 500;
        transition: color 0.25s;
        &:hover, .active, &:visited, &:focus {
          color: $color-coral;
          background-color: $color-white;
        }
      }
    }
  }
}

/** Mainbox-1 **/

.fullbox-1 {
  background: url("../images/bg.jpg") top right no-repeat;
  background-size: cover;
  .content-box {
    h2 {
      font-size: 38px;
      font-weight: 600;
      line-height: 45px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

/** Mainbox-2 **/

.fullbox-2 {
  background: url("../images/bg-show.png") center center no-repeat;
  .left-box {
    padding-right: 30px;
  }
  .right-box {
    padding-left: 30px;
    .text-center {
      margin-top: 15px;
    }
  }
  .content-box {
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 15px;
      min-height: 8em;
    }
  }

  .full-box {
    margin-top: 100px;
    .new-value {
      span {
        display: inline-block;
        font-size: 20px;
        padding: 6px 30px;
        border: 5px solid $color-black;
        font-weight: 600;
      }
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0 120px;
        line-height: 48px;
      }
    }
    p.text-center {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .caption {
      max-width: 700px;
      margin: 30px auto;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

/** Mainbox-3 **/

.fullbox-3 {
  padding-top: 30px;
  .main-activities {
    background: url("../images/bg-cut.png") 0 0px no-repeat;
  }
  
  .short-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .inner-box {
    border: 4px solid #f0f0f0;
    background-color: $color-white;
    height: 385px;
    margin-bottom: 60px;
    h3 {
      font-size: 16px;
      font-weight: 600;
      position: relative;
      background-color: #f7f7f7;
      margin: 0;
      box-sizing: border-box;
      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        > span {
          font-size: 14px;
          display: block;
          width: 100%;
          margin-bottom: 5px;
        }
      }
      &:before {
        content: "";
        width: 8px;
        height: 32px;
        background-color: $color-orange;
        position: absolute;
        left: -4px;
        top: -4px;
      }

      &:after {
        content: "";
        width: 8px;
        height: 32px;
        background-color: $color-grey;
        position: absolute;
        left: -4px;
        bottom: 0px;
      }
    }
  }

  .double-title {
    h3 {
      > span {
        display: block;
        position: relative;
        top: 10px;
      }
    }
  }

  .content-box {
    padding: 25px;
    h4 {
      font-size: 15px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      line-height: 26px;
    }
  }
}

/** Mainbox-4 **/

.fullbox-4 {
  padding: 60px 0;
  .full-message {
    p {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 25px;
      text-align: justify;
      font-weight: 500;
    }
  }
  .signature {
    text-align: right;
    p {
      margin-bottom: 10px;
      text-align: right;
    }
  }
}

/** Mainbox-5 **/

.fullbox-5 {
  padding: 40px 0 80px;
  .management-system {
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 0 0 30px;
    }

    img {
      display: inline-block;
    }
  }
}

/** Mainbox-5 **/

.fullbox-6 {
  padding: 60px 0 120px;
  background-color: #f6f6f6;
  .organization-chart {
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

/** Mainbox-7 **/

.fullbox-7 {
  padding: 30px 0 40px;
  .join-us {
    .head-text {
      font-size: 17px;
      font-weight: 500;
      line-height: 1.6;
      margin-bottom: 25px;
    }
     .table {
      border-left: 0;
      border-right: 0;
      td {
        padding: 20px;
        vertical-align: middle;
        font-size: 15px;
        font-weight: 500;
        &:first-child {
          border-left: 0;
          background-color: #fbfbfb;
          text-align: center;
        }
        &:last-child {
          border-right: 0;
        }
        p {
          margin-bottom: 0;
          line-height: 30px;
        }
        span {
          display: inline-block;
          margin-right: 20px;
        }
        a {
          transition: color 0.25s;
          &:hover {
            color: $color-orange;
          }
        }
      }
     }
    .table-bordered>tbody>tr>td {
      border: 1px solid #e2e2e2;
    }
  }
}

/** Mainbox-8 **/

.fullbox-8 {
  padding: 20px 0 40px;
  h2 {
    text-align: center;
    position: relative;
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0 30px;
    line-height: 48px;
    span {
      display: inline-block;
      padding-left: 50px;
      background: url("../images/bg-title.png") 0 0 no-repeat;
    }
  }
  .benefits {
    .head-text {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    
    .table {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      th  {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
      }
      td {
        padding: 20px;
        vertical-align: middle;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        &.rowspan1{
          border-left: 5px solid $color-orange;
          font-weight: 600;
        }
        &.rowspan2{
          border-left: 5px solid $color-green;
          font-weight: 600;
        }
        &.rowspan3{
          border-left: 5px solid $color-blue;
          font-weight: 600;
        }
        &.has-bg{
          background-color: #fbfbfb;
        }
        &:last-child {
          border-right: 0;
          text-align: left;
        }
      }
     }
    .table-bordered>thead>tr>th {
      border: 0;
    }
    .table-bordered>tbody>tr>td {
      border: 1px solid #e2e2e2;
    }
  }
}

/** Mainbox-9 **/

.fullbox-9 {
  padding: 20px 0 40px;
  .contract {
    h3 {
      font-size: 15px;
      font-weight: 600;
      margin: 30px 0 10px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

/** Mainbox-10 **/

.fullbox-10 {
  padding: 20px 0 80px;
  .application {
    label {
      display: block;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .input-text {
      border: 0;
      display: block;
      background: #f4f4f6;
      padding: 10px 20px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 30px;
      height: 60px;
      font-weight: 500;
    }

    textarea {
      border: 0;
      display: block;
      background: #f4f4f6;
      padding: 10px 20px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 30px;
      font-weight: 500;
    }

    .submit {
      text-align: center;
      margin-top: 60px;
      .btn-submit {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: $color-white;
        font-size: 22px;
        padding: 0px 60px;
        border-radius: 40px;
        background-color: $color-coral;
        border: 0;
        font-weight: 500;
      }
    }
    hr {
      border-top: 1px solid #e9e9e9;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b7b7b7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b7b7b7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b7b7b7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b7b7b7;
}

.full-footer {
  padding: 60px 0;
  .copyright {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
}