/**
* Ver 2017/08/16
* Color
*/

$color-base: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #bfe215;
$color-blue: #42b2ca;
$color-orange: #fe8f0b;
$color-coral: #f4810b;
$color-red: #ff0000;
$color-grey: #bfbfbf;




/**
* Ver 2017/08/16
* Background
*/




/**
* Ver 2017/07/12
* Border
*/

$border-color-grey: #e2e2e2;

